  
<% provide(:title, 'All meetings') %>

  <% @meetings.each do |meeting| %>


   <div class = "singleMeetingInAll">
   	 <div style = "margin-left:240px;">  <%= image_tag meeting.picture.url, :width=> 500, :height => 300 if meeting.picture? %></div>
 <div style = "color:black; margin-left:10px;margin-bottom:20px;">Posted <%= time_ago_in_words(meeting.created_at) %> ago.</div>


  	<%= link_to meeting.user do%><b>
    	<div class = "meetingTextAll" >Posted by: <%=  meeting.user.name%></div>
    <% end %>


      <div class = "meetingTextAll" >Place: <%= meeting.place %></div>
    <div style="">  <div class = "meetingTextAll">Date: <%= meeting.thedate %></div>
    <div class = "meetingTextAll">About: <%= meeting.content %></div></b>

   <% @user ||= current_user %>
  <a href="<%= following_meeting_path(meeting)  %>" style= "color:black;">
 <b>   <div style = "color:black display:inline;float:left;margin-right:10px;">
      <div style = "margin-top:10px;padding-bottom:10px;"><%= meeting.user_followers.count %>
    Going</div>
  </b></a>
</div>




  <% unless current_user?meeting.user%>
<% if current_user.followings?(meeting) %>
    <%= form_for(current_user.relates.find_by_followed_id(meeting),
              html: { method: :delete }) do |f| %>
   <%= f.submit "LEAVE", class: "btn btn-large" %>
 <% end %>
  <% else %>
    <%= form_for(current_user.relates.build(followed_id: meeting.id)) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "JOIN", class: "btn btn-large btn-primary" %>
<% end %>
  <% end %>

<% end %> 

</div>
</div>





<%end %>