  
<% provide(:title, 'All meetings') %>

  <% @meetings.each do |meeting| %>


   <div class = "singleMeetingInAll">
   	 <div style = "margin-left:240px;">  <%= image_tag meeting.picture.url, :width=> 500, :height => 300 if meeting.picture? %></div>
 <div style = "color:black; margin-left:10px;margin-bottom:20px;">Posted <%= time_ago_in_words(meeting.created_at) %> ago.</div>


  	<%= link_to meeting.user do%><b>	<div class = "meetingTextAll" >Posted by: <%= meeting.user.name %></div><% end %>
      <div class = "meetingTextAll" >Place: <%= meeting.place %></div>
    <div style="">  <div class = "meetingTextAll">Date: <%= meeting.thedate %></div>
    <div class = "meetingTextAll">About: <%= meeting.content %></div></b>


<% unless current_user?(@user) %>

  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>

<% end %>

</div>


<%end %>

	